In [1]:
import pandas as pd

In [31]:
post_df = pd.read_csv('PSA2KKZ-12-12-2017-22-25-35-Posttest.csv')

In [32]:
post_df.head()

,User ID,Number All Problems in Posttest,Number Complete Problems in Posttest,Number Correct Problems in Posttest,Assigment Completed,Condition
0,407038,2,2.0,1.0,1.0,control
1,247285,2,NaN,NaN,NaN,control
2,404316,2,2.0,0.0,1.0,control
3,414017,2,2.0,1.0,1.0,control
4,407148,2,NaN,NaN,NaN,control

In [40]:
post_df['Number Correct Problems in Posttest'].value_counts()

2.0    142
1.0     94
0.0     93
Name: Number Correct Problems in Posttest, dtype: int64

In [36]:
len(post_df)

462

In [33]:
feature_df = pd.read_csv('PSA2KKZ-12-12-2017-22-25-35-PriorStudentFeatureLevel.csv')

In [34]:
feature_df.columns

Index([u'User ID', u'Prior Problem Count', u'Prior Correct Count',
       u'Prior Percent Correct', u'Class ID', u'Class Section ID',
       u'Class Grade', u'Teacher ID', u'Guessed Gender', u'Birthyear',
       u'Location ID', u'Role Type', u'Location Type', u'School ID',
       u'District ID', u'State ID', u'Prior Assignments Assigned',
       u'Prior Assignment Count', u'Prior Completion Count',
       u'Prior Percent Completion', u'Prior Class Percent Completion',
       u'Z-Scored Mastery Speed', u'Prior Homework Assigned',
       u'Prior Homework Count', u'Prior Homework Completion Count',
       u'Prior Homework Percent Completion',
       u'Prior Class Homework Percent Completion',
       u'Z-Scored HW Mastery Speed'],
      dtype='object')

In [38]:
len(feature_df['User ID'].unique())

1902

In [35]:
feature_df.head()

,User ID,Prior Problem Count,Prior Correct Count,Prior Percent Correct,Class ID,Class Section ID,Class Grade,Teacher ID,Guessed Gender,Birthyear,...,Prior Completion Count,Prior Percent Completion,Prior Class Percent Completion,Z-Scored Mastery Speed,Prior Homework Assigned,Prior Homework Count,Prior Homework Completion Count,Prior Homework Percent Completion,Prior Class Homework Percent Completion,Z-Scored HW Mastery Speed
0,152644,390.0,205.0,0.525641,45643,90692.0,"""Junior""",55469,"""Female""","""1999""",...,8.0,0.727273,0.825000,-0.367860,NaN,NaN,NaN,NaN,NaN,NaN
1,152918,418.0,269.0,0.643541,45643,90692.0,"""Junior""",55469,"""Uknown""","""1999""",...,8.0,0.727273,0.825000,-0.691456,NaN,NaN,NaN,NaN,NaN,NaN
2,169659,6012.0,5162.0,0.858616,43305,84738.0,"""7""",156298,"""Male""","""""",...,7.0,1.000000,0.968254,-0.405616,NaN,NaN,NaN,NaN,NaN,NaN
3,175885,2560.0,2135.0,0.833984,43510,85247.0,"""N/A""",238140,"""Male""","""2002""",...,0.0,0.000000,0.956044,-1.178511,NaN,NaN,NaN,NaN,NaN,NaN
4,220423,314.0,170.0,0.541401,43895,86203.0,"""N/A""",109523,"""Male""","""1998""",...,13.0,1.000000,0.971014,0.135642,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
joined_df = post_df.join(feature_df, on='User ID', lsuffix='a', rsuffix='b')

In [47]:
len(joined_df)

462

In [48]:
student_df = pd.read_csv('PSA2KKZ-12-12-2017-22-25-35-StudentLevelWithScaffolds.csv')

In [53]:
for ite in student_df.columns.tolist():
    if 'condition' in ite:
        print ite