In [19]:
import pandas as pd
import numpy as np

In [2]:
ps = 263052

In [3]:
# training data
train_df = pd.read_csv('data/'+str(ps)+'_train_exp.csv', header=None)

In [4]:
train_df.head()
# 2 - condition, 3 - completion, 4 - all 0s, 5~ - features

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,9178,96370,0,1,0,0.803261,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.554202,0.633652,0.016393,0.073826,0.000000,0.000000,0.080000,0.000000,0.210526
1,9181,96379,1,1,0,0.861082,1.000000,-0.272648,1.000000,-0.241481,...,0.993103,0.774259,0.950188,0.013115,0.067114,0.054054,0.060811,0.073333,0.067114,0.315789
2,9182,96401,0,1,0,0.805217,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.344093,0.393860,0.016393,0.020134,0.000000,0.000000,0.026667,0.000000,0.210526
3,9184,96409,1,1,0,0.829556,0.976190,-0.270281,0.972222,-0.291173,...,0.953933,0.441738,0.521575,0.081967,0.275168,0.250000,0.236486,0.273333,0.234899,0.210526
4,9185,96798,1,0,0,0.738739,0.142857,-0.946572,0.000000,0.000000,...,0.655556,0.016443,0.015349,0.039344,0.040268,0.000000,0.000000,0.006667,0.000000,0.157895

In [5]:
print 'The avg completion rate in treatment {}'.format(train_df[train_df[2] == 1][3].mean())
print 'The avg completion rate in control {}'.format(train_df[train_df[2] == 0][3].mean())

The avg completion rate in treatment 0.569620253165
The avg completion rate in control 0.651162790698

In [6]:
# test data
test_df = pd.read_csv('data/'+str(ps)+'_test_exp.csv', header=None)
test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,9179,96372,1,1,0,0.863651,0.969697,-0.422805,0.965517,-0.449915,...,0.953933,0.608810,0.749204,0.081967,0.214765,0.25,0.189189,0.213333,0.187919,0.157895
1,9180,96377,1,1,0,0.702583,0.947368,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.154098,0.503356,0.00,0.000000,0.480000,0.000000,0.631579
2,9190,119174,1,1,0,0.758785,0.990991,-0.179906,0.990909,-0.177767,...,0.861501,0.334754,0.360556,0.244262,0.738255,1.00,0.736486,0.733333,0.731544,0.315789
3,9191,119328,1,1,0,0.844606,1.000000,-0.067473,1.000000,-0.065140,...,0.861501,0.468128,0.562989,0.244262,1.000000,1.00,1.000000,1.000000,1.000000,0.736842
4,9194,119491,1,0,0,0.589179,0.908046,0.275419,0.906977,0.283449,...,0.861501,0.537962,0.448885,0.244262,0.577181,1.00,0.574324,0.526667,0.523490,0.000000

In [7]:
print 'The avg completion rate in treatment {}'.format(test_df[test_df[2] == 1][3].mean())
print 'The avg completion rate in control {}'.format(test_df[test_df[2] == 0][3].mean())

The avg completion rate in treatment 0.657142857143
The avg completion rate in control 0.633928571429

### Post-model analysis

In [9]:
res_df = pd.read_csv('results/archived/263052/results_20180220_105831-782619/y_pred.test_1.csv', header=None)

In [13]:
res_df = res_df.rename(columns={0: 'f', 1: 'cf'})

In [14]:
res_df.head()

          f        cf
0  0.997416  0.997138
1  0.003382  0.003523
2  0.008740  0.008483
3  0.997452  0.997287
4  0.902091  0.711506

In [15]:
print len(res_df)
print len(test_df)

217
217

In [16]:
concated_test_df = pd.concat([test_df, res_df], axis=1)

In [17]:
concated_test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,f,cf
0,9179,96372,1,1,0,0.863651,0.969697,-0.422805,0.965517,-0.449915,...,0.749204,0.081967,0.214765,0.25,0.189189,0.213333,0.187919,0.157895,0.997416,0.997138
1,9180,96377,1,1,0,0.702583,0.947368,0.000000,0.000000,0.000000,...,1.000000,0.154098,0.503356,0.00,0.000000,0.480000,0.000000,0.631579,0.003382,0.003523
2,9190,119174,1,1,0,0.758785,0.990991,-0.179906,0.990909,-0.177767,...,0.360556,0.244262,0.738255,1.00,0.736486,0.733333,0.731544,0.315789,0.008740,0.008483
3,9191,119328,1,1,0,0.844606,1.000000,-0.067473,1.000000,-0.065140,...,0.562989,0.244262,1.000000,1.00,1.000000,1.000000,1.000000,0.736842,0.997452,0.997287
4,9194,119491,1,0,0,0.589179,0.908046,0.275419,0.906977,0.283449,...,0.448885,0.244262,0.577181,1.00,0.574324,0.526667,0.523490,0.000000,0.902091,0.711506

In [21]:
concated_test_df['treatment_effect'] = np.where(concated_test_df[2]==1, concated_test_df['f']-concated_test_df['cf'], \
                                       concated_test_df['cf']-concated_test_df['f'])

np.mean(concated_test_df['treatment_effect'])

0.030389282799836603

In [23]:
import numpy as np, scipy.stats as st
a = concated_test_df['treatment_effect']
st.t.interval(0.95, len(a)-1, loc=np.mean(a), scale=st.sem(a))

(0.0213348368955927, 0.039443728704080507)