In [1]:
import pandas as pd

import random
import numpy as np

In [3]:
df = pd.read_csv('/home/siyuan/git/22-Experiments/ThisOne.csv')

In [4]:
df.head()

,problem_set,problem_set_name,User ID,condition,ExperiencedCondition,Saw Video,Class ID,Class Section ID,Class Grade,Teacher ID,...,Z-Scored Mastery Speed,Prior Homework Assigned,Prior Homework Count,Prior Homework Completion Count,Prior Homework Percent Completion,Prior Class Homework Percent Completion,Z-Scored HW Mastery Speed,complete,log(count),problem_count
0,226210,Multiplying Mixed Numbers 5.NF.B.4a EX,172777,E,False,NaN,31189,NaN,"""8""",42999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.602060,4
1,226210,Multiplying Mixed Numbers 5.NF.B.4a EX,175658,E,True,NaN,30642,54689.0,"""7""",68444,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,22
2,226210,Multiplying Mixed Numbers 5.NF.B.4a EX,175669,E,True,NaN,29270,51191.0,"""6""",59965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.041393,11
3,226210,Multiplying Mixed Numbers 5.NF.B.4a EX,176151,E,True,NaN,29270,51191.0,"""6""",59965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.000000,10
4,226210,Multiplying Mixed Numbers 5.NF.B.4a EX,176165,E,True,NaN,29270,51191.0,"""6""",59965,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,6

In [5]:
len(df['User ID'].unique())

8297

In [6]:
with open('all_this_one_students_list', 'w') as f:
    f.write((',').join(map(lambda x: str(x), df['User ID'].unique().tolist())))

In [2]:
pl_df = pd.read_csv('this_one_problem_logs_seq.csv')

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (21,23,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pl_df= pl_df[pl_df['original']==1].reset_index()

In [4]:
print len(pl_df)
print len(pl_df[pl_df['original']==1])

7691474
7691474

In [5]:
len(pl_df['problem_id'].unique())

190591

In [10]:
with open('all_this_one_problem_list', 'w') as f:
    f.write((',').join(map(lambda x: str(x), pl_df['problem_id'].unique().tolist())))

In [11]:
with open('all_this_one_assignment_list', 'w') as f:
    f.write((',').join(map(lambda x: '('+str(x)+')', pl_df['assignment_id'].unique().tolist())))

In [6]:
pl_df.head()

,index,id,assignment_id,user_id,assistment_id,problem_id,original,correct,answer_id,answer_text,...,actions,tutor_strategy_id,tutor_mode,assignment_type,teacher_comment,network_state,path_info,discrete_score,updated_at,sequence_id
0,2,15808280,218551,75064,12375,12375,1,0.0,NaN,NaN,...,--- \n- - start\n - 1237387856717\n- - hint\n...,4199.0,tutor,ClassAssignment,NaN,NaN,NaN,NaN,NaN,5110
1,3,17558128,218522,75064,12375,12375,1,0.0,NaN,NaN,...,--- \n- - start\n - 1241017133750\n- - hint\n...,4199.0,tutor,ClassAssignment,NaN,NaN,NaN,NaN,NaN,2427
2,11,18415148,218537,75064,30116,43004,1,0.0,NaN,number of parts,...,--- \n- - start\n - 1242156805143\n- - answer...,18202.0,tutor,ClassAssignment,NaN,NaN,NaN,NaN,NaN,5443
3,12,149640236,883404,75064,1516,1516,1,0.0,NaN,0,...,"--- \n- - start\n - 1385418910996\n - ""15502...",16756.0,tutor,ClassAssignment,NaN,CONNECTED,NaN,NaN,NaN,8728
4,16,149640353,883404,75064,912,912,1,1.0,NaN,a > b,...,"--- \n- - start\n - 1385419086157\n - ""15502...",NaN,tutor,ClassAssignment,NaN,CONNECTED,NaN,NaN,NaN,8728

In [7]:
problem_set = 303899
ps_df = pd.read_csv('~/git/22-Experiments/'+str(problem_set)+'_exp.csv', header=None)
train_df = pl_df[(pl_df['user_id'].isin(ps_df[1].unique().tolist())) & (pl_df['original']==1)].reset_index()

In [8]:
len(train_df['user_id'].unique())

928

In [9]:
len(train_df['problem_id'].unique())

80950

In [ ]:
len(train_df['assignment_id'].unique().tolist())

In [ ]:
with open(str(problem_set)+'_assignment_list_2', 'w') as f:
    f.write((',').join(map(lambda x: '('+str(x)+')', train_df['assignment_id'].unique().tolist())))

In [ ]:
with open(str(problem_set)+'_problem_list', 'w') as f:
    f.write((',').join(map(lambda x: str(x), train_df['problem_id'].unique().tolist())))