In [1]:
import pandas as pd

In [2]:
post_df = pd.read_csv('PSA2KKZ-12-12-2017-22-25-35-Posttest.csv')

In [3]:
post_df.head()

,User ID,Number All Problems in Posttest,Number Complete Problems in Posttest,Number Correct Problems in Posttest,Assigment Completed,Condition
0,407038,2,2.0,1.0,1.0,control
1,247285,2,NaN,NaN,NaN,control
2,404316,2,2.0,0.0,1.0,control
3,414017,2,2.0,1.0,1.0,control
4,407148,2,NaN,NaN,NaN,control

In [4]:
post_df['Number Correct Problems in Posttest'].value_counts()

2.0    142
1.0     94
0.0     93
Name: Number Correct Problems in Posttest, dtype: int64

In [5]:
post_df['Assigment Completed'].value_counts()

1.0    319
0.0     10
Name: Assigment Completed, dtype: int64

In [6]:
len(post_df)

462

In [7]:
feature_df = pd.read_csv('PSA2KKZ-12-12-2017-22-25-35-PriorStudentFeatureLevel.csv')

In [8]:
feature_df.columns

Index([u'User ID', u'Prior Problem Count', u'Prior Correct Count',
       u'Prior Percent Correct', u'Class ID', u'Class Section ID',
       u'Class Grade', u'Teacher ID', u'Guessed Gender', u'Birthyear',
       u'Location ID', u'Role Type', u'Location Type', u'School ID',
       u'District ID', u'State ID', u'Prior Assignments Assigned',
       u'Prior Assignment Count', u'Prior Completion Count',
       u'Prior Percent Completion', u'Prior Class Percent Completion',
       u'Z-Scored Mastery Speed', u'Prior Homework Assigned',
       u'Prior Homework Count', u'Prior Homework Completion Count',
       u'Prior Homework Percent Completion',
       u'Prior Class Homework Percent Completion',
       u'Z-Scored HW Mastery Speed'],
      dtype='object')

In [9]:
len(feature_df['User ID'].unique())

1902

In [10]:
feature_df.head()

,User ID,Prior Problem Count,Prior Correct Count,Prior Percent Correct,Class ID,Class Section ID,Class Grade,Teacher ID,Guessed Gender,Birthyear,...,Prior Completion Count,Prior Percent Completion,Prior Class Percent Completion,Z-Scored Mastery Speed,Prior Homework Assigned,Prior Homework Count,Prior Homework Completion Count,Prior Homework Percent Completion,Prior Class Homework Percent Completion,Z-Scored HW Mastery Speed
0,152644,390.0,205.0,0.525641,45643,90692.0,"""Junior""",55469,"""Female""","""1999""",...,8.0,0.727273,0.825000,-0.367860,NaN,NaN,NaN,NaN,NaN,NaN
1,152918,418.0,269.0,0.643541,45643,90692.0,"""Junior""",55469,"""Uknown""","""1999""",...,8.0,0.727273,0.825000,-0.691456,NaN,NaN,NaN,NaN,NaN,NaN
2,169659,6012.0,5162.0,0.858616,43305,84738.0,"""7""",156298,"""Male""","""""",...,7.0,1.000000,0.968254,-0.405616,NaN,NaN,NaN,NaN,NaN,NaN
3,175885,2560.0,2135.0,0.833984,43510,85247.0,"""N/A""",238140,"""Male""","""2002""",...,0.0,0.000000,0.956044,-1.178511,NaN,NaN,NaN,NaN,NaN,NaN
4,220423,314.0,170.0,0.541401,43895,86203.0,"""N/A""",109523,"""Male""","""1998""",...,13.0,1.000000,0.971014,0.135642,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
joined_df = post_df.join(feature_df, on='User ID', lsuffix='a', rsuffix='b')

In [12]:
len(joined_df)

462

In [13]:
student_df = pd.read_csv('PSA2KKZ-12-12-2017-22-25-35-StudentLevelWithScaffolds.csv')

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
student_df.head()

,User ID,Assignment ID,Problem Set ID,Problem Set Number,Problem Set Name,Problem Set Updated At,Class Assignments Position,Assignment Started Count,Assignment Finished Count,Assignment Homework Count,...,Postrequisite Skill Names Problem 31,Postrequisite Skill Names Problem 32,Postrequisite Skill Names Problem 33,Postrequisite Skill Names Problem 33 Scaffold 1,Postrequisite Skill Names Problem 34,Postrequisite Skill Names Problem 35,Postrequisite Skill Names Problem 36,Postrequisite Skill Names Problem 37,Postrequisite Skill Names Problem 38,Postrequisite Skill Names Problem 39
0,152644,1773326,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",16,30,24,7,...,-,-,-,-,-,-,-,-,-,-
1,152918,1773326,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",16,30,24,7,...,-,-,-,-,-,-,-,-,-,-
2,169659,1796857,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",34,19,15,4,...,-,-,-,-,-,-,-,-,-,-
3,175885,1700174,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",33,26,18,8,...,-,-,-,-,-,-,-,-,-,-
4,220423,1670902,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",15,17,17,5,...,-,-,-,-,-,-,-,-,-,-

In [15]:
for ite in student_df.columns.tolist():
    if 'condition' in ite:
        print ite

In [16]:
action_df = pd.read_csv('PSA2KKZ-12-12-2017-22-25-35-ActionLevel.csv')

In [17]:
action_df.head()

,User ID,Problem ID,Problem Sub-Part ID,Order,Action Type,Timestamp,Answer Text,Correctness,Problem Log ID
0,152644,"""PRAB72H""",107930,1,"""start""","""03/08/2017 22:36:26.404""","""""",NaN,190152880
1,152644,"""PRAB72H""",107930,2,"""answer""","""03/08/2017 22:36:42.819""","""7/15""",True,190152880
2,152644,"""PRAB72H""",107930,3,"""end""","""03/08/2017 22:36:42.845""","""""",NaN,190152880
3,152644,"""PRAB73Y""",108127,1,"""start""","""03/08/2017 22:35:23.071""","""""",NaN,190152865
4,152644,"""PRAB73Y""",108127,2,"""answer""","""03/08/2017 22:35:41.673""","""-11/4""",True,190152865

In [18]:
len(action_df['User ID'].unique())

1902

In [19]:
problem_df = pd.read_csv('PSA2KKZ-12-12-2017-22-25-35-ProblemLevel.csv')
problem_df.head()

,User ID,Assignment ID,Problem Set ID,Problem Set Number,Problem Set Name,Problem Set Updated At,Class Assignments Position,Assignment Started Count,Assignment Finished Count,Assignment Homework Count,...,Problem End Time,First Response Time,Actions,Problem Name,Template ID,Template Number,Prerequisite Skill IDs,Prerequisite Skill Names,Postrequisite Skill IDs,Postrequisite Skill Names
0,152644,1773326,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",16,30,24.0,7.0,...,"""2017-03-01 10:47:18.574""",48650.0,"""--- \n- - start\n - 1488383126463\n - ""4725...","""33260 - Solve for x (1.8)""","""PRABAZD2""",944779.0,"""""","""""","""""",""""""
1,152644,1773326,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",16,30,24.0,7.0,...,"""2017-03-08 22:35:21.316""",39227.0,"""--- \n- - start\n - 1488383239692\n - ""4724...","""33260 - Solve for x (1.8)""","""PRABAZD2""",944779.0,"""""","""""","""""",""""""
2,152644,1773326,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",16,30,24.0,7.0,...,"""2017-03-08 22:35:41.721""",18602.0,"""--- \n- - start\n - 1489030523071\n - ""4724...","""33259 - Solve for x (1.7)""","""PRAB6DC""",55833.0,"""217""","""Equation Solving - Two or Fewer Steps""","""218;261;262;263;291""","""Identify solutions to systems of equations fr..."
3,152644,1773326,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",16,30,24.0,7.0,...,"""2017-03-08 22:36:01.178""",17307.0,"""--- \n- - start\n - 1489030543831\n - ""4724...","""33261 - Solve for x (1.9)""","""PRAB6DE""",55835.0,"""217""","""Equation Solving - Two or Fewer Steps""","""218;261;262;263;291""","""Identify solutions to systems of equations fr..."
4,152644,1773326,PSA2KKZ,694143,"""Solving Equations (with Distributive Property...","""2017-03-13 09:41:59.257114""",16,30,24.0,7.0,...,"""2017-03-08 22:36:42.845""",16415.0,"""--- \n- - start\n - 1489030586404\n - ""4724...","""33260 - Solve for x (1.8)""","""PRAB6DD""",55834.0,"""""","""""","""""",""""""

In [20]:
problem_df.columns

Index([u'User ID', u'Assignment ID', u'Problem Set ID', u'Problem Set Number',
       u'Problem Set Name', u'Problem Set Updated At',
       u'Class Assignments Position', u'Assignment Started Count',
       u'Assignment Finished Count', u'Assignment Homework Count',
       u'Homework Percent', u'Problem Count', u'Release Date',
       u'Assigned Date', u'Due Date', u'Assignment Logs ID',
       u'Assignment Types ID', u'Assignment Types Origin',
       u'Class Assignments Assignment Type ID', u'Assignment Type',
       u'Assignment Start Time', u'Assignment End Time', u'Late Assignment',
       u'Assignment Time', u'Last Worked On', u'Mastery Status',
       u'Network State', u'Path Types', u'Path Names', u'Path', u'Correct',
       u'Answer Text', u'Peer Explanation ID', u'Student Work',
       u'Is Work Sharable', u'Peer Explanation Created At',
       u'Peer Explanation Updated At', u'Original', u'Problem Logs ID',
       u'Problem ID', u'Problem Number', u'Problem Sub-Part ID',
       u'Scaffold Problem IDs', u'First Action', u'Hint Count', u'Bottom Hint',
       u'Attempt Count', u'Problem Start Time', u'Problem End Time',
       u'First Response Time', u'Actions', u'Problem Name', u'Template ID',
       u'Template Number', u'Prerequisite Skill IDs',
       u'Prerequisite Skill Names', u'Postrequisite Skill IDs',
       u'Postrequisite Skill Names'],
      dtype='object')

In [21]:
problem_df['Path'].tail()

17711    "/PS4723135/PS4723142/PS4723143"
17712    "/PS4723135/PS4723142/PS4723144"
17713              "/PS4723135/PS4723167"
17714              "/PS4723135/PS4723167"
17715    "/PS4723135/PS4723142/PS4723143"
Name: Path, dtype: object

In [22]:
problem_df[problem_df['Problem Number'] == 4723143].head()

Empty DataFrame
Columns: [User ID, Assignment ID, Problem Set ID, Problem Set Number, Problem Set Name, Problem Set Updated At, Class Assignments Position, Assignment Started Count, Assignment Finished Count, Assignment Homework Count, Homework Percent, Problem Count, Release Date, Assigned Date, Due Date, Assignment Logs ID, Assignment Types ID, Assignment Types Origin, Class Assignments Assignment Type ID, Assignment Type, Assignment Start Time, Assignment End Time, Late Assignment, Assignment Time, Last Worked On, Mastery Status, Network State, Path Types, Path Names, Path, Correct, Answer Text, Peer Explanation ID, Student Work, Is Work Sharable, Peer Explanation Created At, Peer Explanation Updated At, Original, Problem Logs ID, Problem ID, Problem Number, Problem Sub-Part ID, Scaffold Problem IDs, First Action, Hint Count, Bottom Hint, Attempt Count, Problem Start Time, Problem End Time, First Response Time, Actions, Problem Name, Template ID, Template Number, Prerequisite Skill IDs, Prerequisite Skill Names, Postrequisite Skill IDs, Postrequisite Skill Names]
Index: []

[0 rows x 58 columns]