In [1]:
import pandas as pd

In [15]:
correct_df = pd.read_csv('resultsFromCorrectPeroformanceLatest.csv')
incorrect_df = pd.read_csv('resultsFromIncorrectPeroformance.csv')

In [16]:
correct_df.head()

,skill_id1,skill_id2,probability,instances,skill1_skill1_instances,skill1_skill1_probability,skill2_skill2_instances,skill2_skill2_probability,probability_ratios,sk1Code,sk1Name,sk2Code,sk2Name
0,22,110,0.706466,172,460,0.632012,806,0.727315,1.117804,3.MD.A.1,Elapsed Time,5.MD.A.1-2,Unit Conversion Within a System - Standard
1,22,124,0.677258,132,460,0.632012,947,0.693979,1.071590,3.MD.A.1,Elapsed Time,5.G.B.4-1,Properties and Classification of Polygons with...
2,22,125,0.803614,97,460,0.632012,1547,0.787842,1.271517,3.MD.A.1,Elapsed Time,5.G.B.4-2,Properties and Classification of Quadrilaterals
3,22,131,0.613560,60,460,0.632012,2614,0.598811,0.970804,3.MD.A.1,Elapsed Time,6.RP.A.3c-1,Percent of
4,22,149,0.704749,63,460,0.632012,177,0.694196,1.115088,3.MD.A.1,Elapsed Time,6.NS.C.6c,Plotting on a Coordinate Plane

In [17]:
incorrect_df.head()

,skill_id1,skill_id2,probability,instances,sk1Code,sk1Name,sk2Code,sk2Name
0,22,110,0.711785,172,3.MD.A.1,Elapsed Time,5.MD.A.1-2,Unit Conversion Within a System - Standard
1,22,124,0.706668,132,3.MD.A.1,Elapsed Time,5.G.B.4-1,Properties and Classification of Polygons with...
2,22,125,0.781282,97,3.MD.A.1,Elapsed Time,5.G.B.4-2,Properties and Classification of Quadrilaterals
3,22,131,0.524106,60,3.MD.A.1,Elapsed Time,6.RP.A.3c-1,Percent of
4,22,149,0.645976,63,3.MD.A.1,Elapsed Time,6.NS.C.6c,Plotting on a Coordinate Plane

In [18]:
final_df = pd.DataFrame()

In [21]:
joined_df = pd.merge(correct_df, incorrect_df, on=['skill_id1', 'skill_id2'], how='inner')

In [22]:
joined_df.tail()

,skill_id1,skill_id2,probability_x,instances_x,skill1_skill1_instances,skill1_skill1_probability,skill2_skill2_instances,skill2_skill2_probability,probability_ratios,sk1Code_x,sk1Name_x,sk2Code_x,sk2Name_x,probability_y,instances_y,sk1Code_y,sk1Name_y,sk2Code_y,sk2Name_y
1875,296,284,0.652939,119,1090,0.830249,746,0.722272,0.786437,8.SP.A.1,Scatter Plots,8.G.A.3-1,Translations,0.616294,119,8.SP.A.1,Scatter Plots,8.G.A.3-1,Translations
1876,296,286,0.191488,101,1090,0.830249,695,0.138630,0.230639,8.SP.A.1,Scatter Plots,8.G.A.3-3,Rotations,0.150790,101,8.SP.A.1,Scatter Plots,8.G.A.3-3,Rotations
1877,296,287,0.872709,110,1090,0.830249,697,0.863707,1.051141,8.SP.A.1,Scatter Plots,8.G.A.4,Identifying Similar Triangles,0.823042,110,8.SP.A.1,Scatter Plots,8.G.A.4,Identifying Similar Triangles
1878,296,288,0.709745,366,1090,0.830249,2309,0.718929,0.854857,8.SP.A.1,Scatter Plots,8.G.A.5-1,Angles Formed by Parallel Lines and Transversals,0.678900,366,8.SP.A.1,Scatter Plots,8.G.A.5-1,Angles Formed by Parallel Lines and Transversals
1879,296,291,0.589736,242,1090,0.830249,1393,0.590473,0.710312,8.SP.A.1,Scatter Plots,8.G.B.7,Pythagorean Theorem,0.557985,242,8.SP.A.1,Scatter Plots,8.G.B.7,Pythagorean Theorem

In [23]:
final_df['skill_id1'] = joined_df['skill_id1']
final_df['skill_id2'] = joined_df['skill_id2']
final_df['s1_correct_s2_prob'] = joined_df['probability_x']
final_df['s1_incorrect_s2_prob'] = joined_df['probability_y']
final_df['sk1_difficulty'] = joined_df['skill1_skill1_probability']
final_df['sk2_difficulty'] = joined_df['skill2_skill2_probability']
final_df['sk1_code'] = joined_df['sk1Code_x']
final_df['sk1_name'] = joined_df['sk1Name_x']
final_df['sk2_code'] = joined_df['sk2Code_x']
final_df['sk2_name'] = joined_df['sk2Name_x']

In [31]:
final_df['difficulty_ratio'] = final_df['sk1_difficulty']/final_df['sk2_difficulty']

In [32]:
final_df['difficulty_ratio'].astype = float

In [34]:
# Filter the rows such that only ratio values between 0.95 and 1.05 exist
filtered_final_df = final_df[(final_df['difficulty_ratio'] >= 0.95) & (final_df['difficulty_ratio'] <= 1.05)]

In [35]:
# Find the difference (B=1| A=1) - (B=1| A=0)
filtered_final_df['prob_diff'] = \
filtered_final_df['s1_correct_s2_prob'] - filtered_final_df['s1_incorrect_s2_prob']

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [36]:
len(filtered_final_df)

221

In [37]:
filtered_final_df.head()

,skill_id1,skill_id2,s1_correct_s2_prob,s1_incorrect_s2_prob,sk1_difficulty,sk2_difficulty,sk1_code,sk1_name,sk2_code,sk2_name,difficulty_ratio,prob_diff
8,31,47,0.775560,0.789852,0.832553,0.793122,3.MD.C.7a,Area of Rectangles,4.NBT.B.4-1,Adding Whole Numbers,1.049716,-0.014292
16,31,156,0.777687,0.786430,0.832553,0.819831,3.MD.C.7a,Area of Rectangles,6.EE.A.1,Evaluating Exponents,1.015518,-0.008743
19,31,173,0.662704,0.758513,0.832553,0.804749,3.MD.C.7a,Area of Rectangles,6.G.A.1-1,Area of Triangles,1.034550,-0.095809
25,31,203,0.787486,0.831208,0.832553,0.811007,3.MD.C.7a,Area of Rectangles,7.NS.A.1d-1,Adding Integers,1.026567,-0.043722
27,31,209,0.815776,0.855266,0.832553,0.840446,3.MD.C.7a,Area of Rectangles,7.NS.A.2c-2,Dividing Integers,0.990609,-0.039490

In [38]:
# Pair all similar links (A->B is compared to B->A)
copied_filtered_final_df = pd.DataFrame(filtered_final_df)

In [46]:
filtered_final_df['skill_id2'].astype = int
filtered_final_df['skill_id1'].astype = int
copied_filtered_final_df = pd.DataFrame(filtered_final_df)

In [52]:
idx_list = []

for index, row in copied_filtered_final_df.iterrows():
    if filtered_final_df[(filtered_final_df['skill_id2'] == row['skill_id1']) & \
        (filtered_final_df['skill_id2'] == row['skill_id1'])].empty:
       idx_list.append(index)

In [55]:
len(copied_filtered_final_df)

221

In [57]:
len(filtered_final_df)

221

In [60]:
dropped_final_df = filtered_final_df.drop(idx_list)

In [62]:
dropped_final_df.head()

,skill_id1,skill_id2,s1_correct_s2_prob,s1_incorrect_s2_prob,sk1_difficulty,sk2_difficulty,sk1_code,sk1_name,sk2_code,sk2_name,difficulty_ratio,prob_diff
47,47,87,0.721776,0.743131,0.793122,0.782183,4.NBT.B.4-1,Adding Whole Numbers,5.NBT.A.3b,Comparing Positive Decimals,1.013986,-0.021355
52,47,125,0.794406,0.803330,0.793122,0.787842,4.NBT.B.4-1,Adding Whole Numbers,5.G.B.4-2,Properties and Classification of Quadrilaterals,1.006702,-0.008925
58,47,156,0.771511,0.801922,0.793122,0.819831,4.NBT.B.4-1,Adding Whole Numbers,6.EE.A.1,Evaluating Exponents,0.967422,-0.030411
61,47,173,0.767271,0.752525,0.793122,0.804749,4.NBT.B.4-1,Adding Whole Numbers,6.G.A.1-1,Area of Triangles,0.985553,0.014745
63,47,188,0.736220,0.747464,0.793122,0.764803,4.NBT.B.4-1,Adding Whole Numbers,6.SP.B.5c-1,"Variability - interquartile, range, and mean a...",1.037028,-0.011244

In [63]:
# Choose the direction with the largest difference
copied_final_df = pd.DataFrame(dropped_final_df)

In [69]:
final_idx_list = []
for index, row in copied_final_df.iterrows():
    reversed_df = dropped_final_df[(dropped_final_df['skill_id1']==row['skill_id2']) & \
                                  (dropped_final_df['skill_id2']==row['skill_id1'])]
    diff = row['prob_diff'] - reversed_df['prob_diff']
    if not (diff >= 0.01).empty:
        final_idx_list.append(index)

In [77]:
skilk_link_df = dropped_final_df.ix[final_idx_list]

In [78]:
len(skilk_link_df)

78

In [79]:
import csv
skilk_link_df.to_csv('skill_links.csv', quoting=csv.QUOTE_NONNUMERIC)

In [76]:
len(dropped_final_df)

193